<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ncc.messenger">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/welcome_screen_image"
        android:label="@string/app_name"
        android:roundIcon="@drawable/welcome_screen_image"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.ncc.messenger.ShareMediaActivity"></activity>
        <activity android:name="com.ncc.messenger.SelectCountryCallingCodeActivity" />
        <activity android:name="com.ncc.messenger.ShowMyStatusActivity" />
        <activity android:name="com.ncc.messenger.EditStatusActivity" />
        <activity android:name="com.ncc.messenger.ShowOtherStatusActivity" />
        <activity android:name="com.ncc.messenger.ChatRoomActivity" />
        <activity
            android:name="com.ncc.messenger.CreateProfileActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.ncc.messenger.InputPhoneNumberActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.ncc.messenger.PhoneVerifyActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.ncc.messenger.ContactActivity" />
        <activity android:name="com.ncc.messenger.MainActivity" />
        <activity android:name="com.ncc.messenger.CameraActivity" />
        <activity
            android:name="com.ncc.messenger.StatusTextActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name="com.ncc.messenger.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>